<h1>Bem vindo ao sistema de vagas de emprego</h1>

<% if headhunter_signed_in? %>
  <h3><%= link_to 'Cadastrar vagas', new_job_opportunity_path%></h3>
<% end %> 

<% if candidate_signed_in? %>
  <h3><%= link_to 'Perfil', profiles_path %></h3>
<% end %>

<%= link_to 'Entrar', new_headhunter_session_path %>

<% if @jobapp.empty? %>
  Nenhuma vaga criada
<% end %>

<% @jobapp.each do |job| %>
  <h2><%= link_to job.title, job_opportunity_path(id: job.id) %></h2>
  <p><%= l job.deadline %></p>
  <p><%= job.location %></p>
<% end %>